[Unit]
Description=Set your wallpaper to the Bing wallpaper of the day
After=network-online.target

[Timer]
OnCalendar=daily
Unit=bingwallpaper.service

[Install]
WantedBy=timers.target
